---
import PlayerProfileCard from '~/components/player-profile-card.astro';
import Layout from '~/layouts/main.astro';

const backgroundColor = 'linear-gradient(99deg, #b2bbcf 0%, #ebeeee 50%, #b2bbcf 100%)'

const trainerColumns = 'w-1/3 sm:w-full lg:w-1/2 p-3';
const playerColumns = 'w-1/2 md:w-1/3 lg:w-1/4 p-3';

const ersteMannschaft = [
  'sylvester0-0', 'richard0-0', 'ahmed0-0', 'jarne0-0', 'yannik0-0',
  'patrick0-0', 'luis0-0', 'sascha0-0', 'robin0-0', 'heiko0-0',
  'andre0-0', 'martha0-0', 'mike0-0', 'sven1-0', 'patrick1-0',
];
---

<Layout content={{title: "1. Mannschaft"}}>
  <div class="flex flex-wrap mx-auto max-w-7xl">
    <!-- Trainer Section -->
    <div class="w-full sm:w-1/3 md:w-1/4 lg:w-1/3">
      <div class="flex flex-wrap">
        <div class="w-full">
          <p class="text-3xl font-bold text-center whitespace-nowrap">Spieler-Trainer</p>
        </div>
        <div class={trainerColumns}>
          <PlayerProfileCard playerId="linda0-0" background={backgroundColor} />
        </div>
        <div class={trainerColumns}>
          <PlayerProfileCard playerId="jill0-0" background={backgroundColor} />
        </div>
        <div class={trainerColumns}>
          <PlayerProfileCard playerId="sven0-0" background={backgroundColor} />
        </div>
      </div>
    </div>
  
    <!-- Players Section -->
    <div class="w-full sm:w-2/3 md:w-3/4 lg:w-2/3">
      <div class="flex flex-wrap">
        <div class="w-full">
          <p class="text-3xl font-bold text-center">Spieler</p>
        </div>
        {ersteMannschaft.map((playerId) => (
          <div class={playerColumns}>
            <PlayerProfileCard playerId={playerId} />
          </div>
        ))}
      </div>
    </div>
  </div>
</Layout>
