---
import {Image} from 'astro:assets'

const { title, name, email, emailText, image } = Astro.props;
---

<div>
  <div>
    <span class="card-header-title">{title}</span>
  </div>
  <div>
    <div style="border-radius: 100%; overflow: hidden">
      <Image src={image} alt={name} />
    </div>
    <div>
      <span>{name}</span>
      <a href={`mailto:${email}`}>{emailText}</a>
    </div>
  </div>
</div>
