---
import {Image} from 'astro:assets'

const {data, slug} = Astro.props;
const {image, title, summary, date} = data;
---
<div class="card">
  <a href={`/news/${slug}`}>
    {(image != null) ? (
      <div class="card-image">
        <Image src={image} alt={title}/>
      </div>
    ) : (
      <header class="card-header">
          <span class="card-header-title">{title}</span>
      </header>
    )}
    <div class="card-content">
        <div class="content">
          {(image != null) ? (
            <span class="title is-4">{title}</span>
          ) : null}
          {summary}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">{date}</p>
    </footer>
  </a>
</div>
